@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to a simple National Dex</h1>
    <p>This tracker cover all of gen 3 games. Since there is not really any documention for the GBA/ GC games for all the location of each pokemon and able to track them.  </p>
</div>

<div>
    <p>Pokedex <a href="/GenOne/index">Gen 1</a></p>
</div>
