@model GenOne


<h2>Update @Model.pokemon</h2>


@using (Html.BeginForm("UpdatePokemon toDatabase", "GenOne", "Post"))
{
    <input asp-for="Dexid" type="hidden" value ="@Model.Dexid"/>
    <label asp-for="method" class="control-label">method</label>
}




